src/main/mule/databaseproject1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="65df959f-0138-416e-b6f9-6099cbadb0dd" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="6d075332-acbe-4e02-80b9-6f7eb90b3482" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Admin@12345" database='#["Mulesoftdata"]'/>
	</db:config>
	<file:config name="File_Config" doc:name="File Config" doc:id="82b8d4f2-c139-4478-92af-319e0f223754" >
		<file:connection workingDir="C:\Users\LENOVO\Desktop\muletraining\MYFOLDER" />
	</file:config>
	<configuration doc:name="Configuration" doc:id="0972be3e-bcdc-4f1e-8e4e-4c0cebed4f84" defaultErrorHandler-ref="databaseproject1Error_Handler" />
	<flow name="databaseproject1Flow" doc:id="7c300ad8-671e-4010-8d2b-130ae073db10" >
		<http:listener doc:name="GET /database" doc:id="6da12b68-49e4-49d2-a360-51539106beaf" config-ref="HTTP_Listener_config" path="/database">
			<http:response>
				<http:body ><![CDATA[#[output application/json --- payload]]]></http:body>
			</http:response>
			<http:error-response >
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="8bc2c2c1-dbbf-4f89-b0bd-77b12b8f6ca5" message="#[attributes.uriParams]"/>
		<db:select doc:name="Select" doc:id="decb0fd7-09d5-433c-8398-5b1453c0ba93" config-ref="Database_Config">
			<db:sql ><![CDATA[
SELECT * FROM students WHERE section = :section]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	section: attributes.queryParams.section
}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="4c0065c4-3e6c-46cb-bdf6-9a6122d8a973" >
			<when expression="#[sizeOf(payload) &gt; 0]">
				<ee:transform doc:name="Transform Message" doc:id="4c5f1354-8599-4abe-b721-64cb92937280">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---

 	payload
 

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<file:write doc:name="Write" doc:id="80d29aa8-d206-4fab-8090-5e6781cfb950" config-ref="File_Config" path="C:\Users\LENOVO\Desktop\muletraining\MYFOLDER\myfile.txt"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="c7acecaf-21e5-4cb9-8618-7712e4bc5ed9" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "Records not available"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="de1c5113-12f6-470b-bf65-ec03a48e87cf" message="#[payload]"/>
	</flow>
	<error-handler name="databaseproject1Error_Handler" doc:id="f47f79d0-2393-4a5c-833a-fdd05c66f65c" >
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="0bd4522f-4c9a-48ea-a77a-6d4923aded83" type="DB:CONNECTIVITY">
			<ee:transform doc:name="Transform Message" doc:id="9f19fc3c-5d62-4636-b824-cfa63c4803b1">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	error : "DB CONNECTIVITY"
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
		</on-error-propagate>
	</error-handler>
</mule>
